@import 'color-palette.scss';
@import 'fonts.scss';

@import '../assets/plugins/fontawesome-free/css/fontawesome.min.css';
@import '../assets/plugins/fontawesome-free/css/solid.min.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  font-size: small;
  color: $white;
}

@import 'home.scss';
@import 'home-mobile.scss';
